<!doctype html>
<html lang="en">
    <head>    
        
        <title>{% assign title_is_not_empty = page.title | is_not_empty %}{% if title_is_not_empty %}{{ page.title }} - {% endif %}{{ site.title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="google" content="notranslate" />
        <meta name="description" content="Design Portfolio">
        <meta name="author" content="Stephanie Froehner">
        <meta name="keywords" content="Design, Interaction Design, Interactive Design, Responsive Web Design, Mobile Design, Stephanie, Froehner, UX/UI, GIF, iOS, Android, Portfolio, Designer">
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i|Shrikhand&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}">
        
        <!-- Content from RealFaviconGenerator -->
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="theme-color" content="#ffffff">
        
    </head>
    <body>
        
        {{ content }}
        <!-- Scripts -->
        <script src="{{ 'assets/js/plugins.js' | relative_url }}"></script>
        <script src="{{ 'assets/js/main.js' | relative_url }}"></script>
    </body> 
</html>
